.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

#outputString {
  border: 1px solid black;
  padding: 16px;
  margin: 0px 30px;
}

button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}
